<div class="step-content">
    <h1>Select Courses</h1>
    <div class="sub-title">
        Select a course from the list below to report on. You can select multiple courses within a Learning Path.
    </div>

    <div class="scroll-container">
        <div class="scroll-pane">

            <div class="select-all">
                <label class="checkbox">
                    <input type="checkbox" ng-model="model.entireLearningPath"/> 
                    <i class="fa fa-check fa-fw"></i>
                    <span>Select the entire learning path</span>
                </label>
            </div>

            <div>
                <label>Search courses</label>
                <input type="text" class="text-search" value="Search..." />
            </div>


        </div>
    </div>
</div>
